name: deploy 
on:
  push:
    branches:
      - main
    paths:
      - 'mkdocs.yml'
      - 'requirements.txt'
      - 'docs/**'
      - 'includes/**'
      - 'overrides/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GOOGLE_ANALYTICS_KEY: ${{ secrets.GOOGLE_ANALYTICS_KEY }}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: mkdocs gh-deploy --force
