name: deploy 
on:
  push:
    branches:
      - main
    paths:
      - 'mkdocs.yml'
      - 'requirements.txt'
      - 'docs/**'
      - 'includes/**'
      - 'overrides/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.x
      - run: pip install -r requirements.txt
      - run: mkdocs gh-deploy --force
